# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# GPSymbReg
GPSymbReg/GPSymbReg
GPSymbReg/build/
GPSymbReg/cmake-build-debug/
GPSymbReg/log.txt
GPSymbReg/m.txt
GPSymbReg/data/input.txt


# BoolGPSymbReg
BoolGPSymbReg/BoolGPSymbReg
BoolGPSymbReg/build/
BoolGPSymbReg/log.txt
BoolGPSymbReg/m.txt
BoolGPSymbReg/data/input.txt

